/*******************
General
*******************/
body {
  background: #181818;
  color: #D0D0D0;
  font-size: 1.25rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  /* font: 1.5rem bolder; */
  font-size: 2rem;
}

/*******************
Sentences Table
*******************/
.sentence-table {
  display: table;
  table-layout: auto;
  margin: 2rem;
  border-collapse: collapse;
  min-width: 80vw;
  flex: 1;
  background: #252528;
  width: 90%;
  margin: 0 auto;
}

.sentence-table thead {
  background: black;
}

.sentence-table-body tr > td:nth-of-type(1) {
  background: #3333ff;
}

.sentence-table td {
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  text-align: center;
  margin: 5px 0;
}

.sentence-table input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  background: blue;
}

.sentence-table td img {
  width: 2.5rem;
  height: 2.5rem;
}

.selected-row {
  background: #454585;
}

.sentence-table > tbody > tr:hover {
  background: #454545;
  filter: brightness(115%);
}

.sentence-table > tbody > tr.recording-active {
  background: #b02121;
}

/*******************
Buttons
*******************/
.btn {
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.2rem;
  vertical-align: middle;
  background: red;
  border-radius: 16px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.record-btn {
  background: white;
}

.load-btn {
  background: #7EC7EC;
}

.start-btn {
  background: #05C698;
}

.stop-btn {
  background: red;
}

.export-toggle {
  background: orange;
}

.export-btn {
  background: yellow;
}

.export-btn:disabled {
  filter: brightness(0.8) saturate(0.8);
  background: #888;
  user-select: none;
  pointer-events: none;
}

/*******************
Misc
*******************/
.download-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #CCC;
  padding: 0.25rem;
  display: none;
}

kbd {
  background: #FCC234;
  color: #222;
  padding: 0.1rem 0.2rem;
}

